

.center-form {
  text-align: center;
 
}



.img-fluid {
  width: 100%;
  
}

.center-form {
  line-height: 2;

}

.avatar {
 width: 100%;
 margin-left: auto;
 margin-right: auto;
 margin-top: 32px;
 margin-bottom: 32px;
}

#list-group {
  margin-left: 60px;
  margin-right: 60px;

}

.list-item {
  /*border: 1px solid green*/
}

.nav-link {
  color: rgb(0, 87, 111);;
 font-weight: bold;
  text-decoration: none
  }
.nav-link:hover {
  text-decoration: underline;
}
/*
#resume {
  margin-left: 40px;
  padding-left: 30px;
  padding-right: 30px;
  border: 2px ridge rgb(189, 216, 212);
  width: 30%
*/

section {
  margin-top: 24px;
  margin-bottom: 24px;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
}


main {
  max-width: 1000px;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;
  background-color: rgb(189, 216, 212);
  
  top: 0px;
}




#box1, #box2, #box3, #box4, #box5, #box8, #box9, #box10, #box11 {
  border-bottom: .75rem solid black;
  
}

#box3, #box7, #box10, #box11, #box12, #box15 {
  border-left: .75rem solid black;
}

.prompt {
  position: absolute;
  top: 0%;
  left: 0%;
  margin: .5rem
}








#page-title {
  color: rgb(0, 87, 111);
  text-align: center;
  font-size: 40px;
  font-weight: 800;
} 

.d-inline {
  display: inline;
}

ul .nav-link{
  list-style: None ;
 
}

body {
  background-color: #222222;
  color: #343434;
  margin: 0;
  width: 100vw;
  min-height: 100vh;

}

@media only screen and (min-width: 900px) {
  html{font-size: 20px}
}